include AUTHORS
include CHANGELOG
include COPYING
include LICENSE
include MANIFEST
include README
include TODO
include LLL/spybg.py
include LLL/data/cross_sections/01.dat
include LLL/data/cross_sections/02.dat
include LLL/data/cross_sections/03.dat
include LLL/data/cross_sections/04.dat
include LLL/data/cross_sections/05.dat
include LLL/data/cross_sections/06.dat
include LLL/data/cross_sections/07.dat
include LLL/data/cross_sections/08.dat
include LLL/data/cross_sections/09.dat
include LLL/data/cross_sections/10.dat
include LLL/data/cross_sections/11.dat
include LLL/data/cross_sections/12.dat
include LLL/data/cross_sections/13.dat
include LLL/data/cross_sections/14.dat
include LLL/data/cross_sections/15.dat
include LLL/data/cross_sections/16.dat
include LLL/data/cross_sections/17.dat
include LLL/data/cross_sections/18.dat
include LLL/data/cross_sections/19.dat
include LLL/data/cross_sections/20.dat
include LLL/data/cross_sections/21.dat
include LLL/data/cross_sections/22.dat
include LLL/data/cross_sections/23.dat
include LLL/data/cross_sections/24.dat
include LLL/data/cross_sections/25.dat
include LLL/data/cross_sections/26.dat
include LLL/data/cross_sections/27.dat
include LLL/data/cross_sections/28.dat
include LLL/data/cross_sections/29.dat
include LLL/data/cross_sections/30.dat
include LLL/data/cross_sections/31.dat
include LLL/data/cross_sections/32.dat
include LLL/data/cross_sections/33.dat
include LLL/data/cross_sections/34.dat
include LLL/data/cross_sections/35.dat
include LLL/data/cross_sections/36.dat
include LLL/data/cross_sections/37.dat
include LLL/data/cross_sections/38.dat
include LLL/data/cross_sections/39.dat
include LLL/data/cross_sections/40.dat
include LLL/data/cross_sections/41.dat
include LLL/data/cross_sections/42.dat
include LLL/data/cross_sections/43.dat
include LLL/data/cross_sections/44.dat
include LLL/data/cross_sections/45.dat
include LLL/data/cross_sections/46.dat
include LLL/data/cross_sections/47.dat
include LLL/data/cross_sections/48.dat
include LLL/data/cross_sections/49.dat
include LLL/data/cross_sections/50.dat
include LLL/data/cross_sections/51.dat
include LLL/data/cross_sections/52.dat
include LLL/data/cross_sections/53.dat
include LLL/data/cross_sections/54.dat
include LLL/data/cross_sections/55.dat
include LLL/data/cross_sections/56.dat
include LLL/data/cross_sections/57.dat
include LLL/data/cross_sections/58.dat
include LLL/data/cross_sections/59.dat
include LLL/data/cross_sections/60.dat
include LLL/data/cross_sections/61.dat
include LLL/data/cross_sections/62.dat
include LLL/data/cross_sections/63.dat
include LLL/data/cross_sections/64.dat
include LLL/data/cross_sections/65.dat
include LLL/data/cross_sections/66.dat
include LLL/data/cross_sections/67.dat
include LLL/data/cross_sections/68.dat
include LLL/data/cross_sections/69.dat
include LLL/data/cross_sections/70.dat
include LLL/data/cross_sections/71.dat
include LLL/data/cross_sections/72.dat
include LLL/data/cross_sections/73.dat
include LLL/data/cross_sections/74.dat
include LLL/data/cross_sections/75.dat
include LLL/data/cross_sections/76.dat
include LLL/data/cross_sections/77.dat
include LLL/data/cross_sections/78.dat
include LLL/data/cross_sections/79.dat
include LLL/data/cross_sections/80.dat
include LLL/data/cross_sections/81.dat
include LLL/data/cross_sections/82.dat
include LLL/data/cross_sections/83.dat
include LLL/data/cross_sections/84.dat
include LLL/data/cross_sections/85.dat
include LLL/data/cross_sections/86.dat
include LLL/data/cross_sections/87.dat
include LLL/data/cross_sections/88.dat
include LLL/data/cross_sections/89.dat
include LLL/data/cross_sections/90.dat
include LLL/data/cross_sections/91.dat
include LLL/data/cross_sections/92.dat
include LLL/data/cross_sections/93.dat
include LLL/data/cross_sections/94.dat
include LLL/data/cross_sections/95.dat
include LLL/data/cross_sections/96.dat
include LLL/data/cross_sections/97.dat
include LLL/data/cross_sections/98.dat
include LLL/data/cross_sections/99.dat
include LLL/data/cross_sections/CdTe.dat
include LLL/data/cross_sections/GaAs.dat
include LLL/data/cross_sections/lnbg/*.dat
include LLL/data/cross_sections/spibg/*.dat
